* {
  margin: 0;
  padding: 0;
}

html {
  background-color:black;
  font-family: 'Lora', serif;
}

#title>p {
  color: white;
  text-align: center;
  font-size: 3vw;
}

hr {
  margin: 1vh auto;
}

.container {
  width: 95%;
  margin: 2vh auto;
  background-color:white;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
}

#about-me {
  display: flex;
}

#pfp {
  width: 10%;
}

#info {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#info>p {
  padding: 1vh;
}

.heading {
  color: white;
}