* {
  padding: 0;
  margin: 0;
}

html {
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
  height: 4vh;
  font-size: 2rem;
}

#container {
  width: 97vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 6vh auto;
}

.bar {
  background-color: red;
  margin: 0 1px; 
}

#button-bar {
  width: 100vw;
  height: 4vh;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

#settings {
  width: 30vw;
  height: 4vh;
  display: flex;
  align-items: center;
}

#buttons {
  width: 70vw;
  height: 4vh;
  display: flex;
  align-items: center;
}

button {
  width: 30%;
  height: 75%;
  margin: 0.5vw;
}

input {
  width: 30%;
  height: 75%;
  margin: 0.5vw;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
  #button-bar {
    height: 6vh;
  }
  #container {
    margin: 3.5vh auto;
  }
  #buttons {
    height: 6vh;
  }
  #settings {
    height: 6vh;
  }
}

@media only screen and (max-height: 600px) {
  * {
    font-size: 8px;
  }
  #button-bar {
    height: 6vh;
  }
  #container {
    margin: 5vh auto;
  }
  #buttons {
    height: 6vh;
  }
  #settings {
    height: 6vh;
  }
}